.services {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.services .card {
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.services .card .overlay {
  position: absolute;
  bottom: -75px;
  left: 0;
  width: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0.69);
  padding: 15px 30px;
}

.services .card .overlay h2 {
  color: #1c2858;
  font-weight: 700;
  margin-bottom: 10px;
}

.services .card:hover .overlay {
  bottom: 0;
}

@media (max-width: 575px) {
  .services {
    .card .overlay {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 5px;
    }
    h2 {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}
