@import "nav", "parallax", "categories", "services", "footer", "carousel",
  "review_form";

.vCenter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

i {
  transition: 0.5s ease;
}

.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(black)
  );
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}

body {
  padding-top: 80px;
  transition: 0.5s ease;
}

.padding120 {
  padding-top: 120px;
}

p,
.card-body {
  opacity: 0.75;
}

ul li {
  opacity: 0.75;
}

nav p,
nav ul li {
  opacity: 1;
}

.vCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a.navbar-brand img {
  max-height: 40px;
  width: auto;
}

.dealsGrid {
  margin-top: 100px;
  .col-6 {
  }
}

.dealsGrid .card {
  padding: 15px;
  -webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.p-block {
  background: #5c6395;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #fff;
}

.p-block h2 {
  font-weight: 700;
}

.prodList .card {
  -webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 30px;
}

.filters p {
  margin: 0;
}

.item.card p {
  margin: 0;
}

#accordionExample .card {
  padding: 0;
  margin-top: 15px;
}

.single {
  margin-bottom: 50px;
}

.single .row,
.spec {
  border: 1px solid #eee;
  padding: 15px;
  height: 100%;
  -webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.single h2,
.spec h2 {
  color: #1c2858;
  font-weight: 700;
}

.single .price,
.single .msrp {
  color: #000;
  opacity: 0.69;
  font-size: 50px;
  font-weight: 700;
}

.single .price span,
.single .msrp span {
  font-size: 28px;
}

.single .msrp {
  color: red;
}

.spec {
  margin-bottom: 100px;
}

.spec ul {
  list-style-type: none;
  background: #eee;
  margin-top: 15px;
  padding: 0;
}

.spec ul li {
  padding: 5px 15px;
}

.spec ul li:nth-child(even) {
  background: #fff;
}

.btn-primary {
  color: #fff !important;
}

.stock {
  max-width: 300px;
  padding: 0;
  list-style-type: none;
}

.stock li {
  padding: 0 5px;
}

.stock li:nth-child(even) {
  background-color: #eee;
}

.stock li span {
  float: right;
  font-weight: 700;
  color: green;
}

.stock li span.NA {
  color: red;
}

.single-review {
  padding-bottom: 15px;
}

.single-review p {
  margin: 0;
}

.single-review p.author {
  font-weight: 700;
  color: #5c6395;
}

p.stars {
  color: #1c2858;
}

ol.breadcrumb {
  background-color: #5c6395;
}

ol.breadcrumb a {
  color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.breadcrumb-item.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #fff;
  background-color: #5c6395;
  border-color: #5c6395;
}

.btn-primary:hover {
  background-color: #1c2858;
}

.btn-link {
  font-weight: 400;
  color: #5c6395;
  text-decoration: none;
}

.btn-link:hover {
  color: #1c2858;
}

.dealsGrid h2 {
  font-weight: 700;
  color: #1c2858;
  text-transform: capitalize;
}

.dealsGrid h3 {
  font-weight: 700;
  color: #5c6395;
  text-transform: capitalize;
  font-size: 22px;
}

a.card:hover {
  text-decoration: none;
}

a.card {
  position: relative;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a.card:hover {
  -webkit-box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.4);
}

.accordion .card-header {
  padding: 0;
}

.card-header h5 button {
  display: block;
  width: 100%;
  padding: 15px;
}

.card.item h2 {
  color: #1c2858;
  font-weight: 700;
}

.trs {
  font-style: italic;
  opacity: 0.69;
}

.item-desc {
  font-weight: 700;
  opacity: 0.69;
}

.card.filters h3 {
  font-weight: 700;
  color: #1c2858;
}

.card.filters h4 {
  font-weight: 700;
  color: #5c6395;
}

.card.spec ul li {
  font-weight: 700;
}
.card.spec ul li span {
  font-weight: 300;
  float: right;
}

#map {
  height: 450px;
  width: 100%;
  margin-bottom: 50px;
}

.locations .location {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  padding: 15px;
}

.locations .location .image {
  background: #5c6395;
  height: 100%;
  width: 33%;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.locations .location .desc {
  max-width: 66%;
  position: relative;
  z-index: 1;
}

.locations .location .desc h2 {
  font-weight: 700;
  color: #1c2858;
}

.locations .location:hover .image {
  width: 50%;
}

.locations .location ul {
  list-style-type: none;
}

.locations .location ul li {
  font-weight: 700;
}

.locations .location ul li i {
  color: #5c6395;
  width: 25px;
}

.price,
.msrp {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  position: relative;
}

.msrp span,
.price span {
  font-size: 16px;
}

.msrp:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 2px;
  width: 2px;
  height: 60px;
  transform: rotate(80deg) translate(-50%, -50%);
  background: red;
}

.msrp {
  color: red;
}

.single-product {
  .msrp {
    font-size: 20px;
    margin-bottom: 0;
    span {
      font-size: 16px;
    }
    &:after {
      display: none;
    }
  }
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 50px;
}

.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.button-group .button {
  background: #eee;
  padding: 10px 0;
  display: block;
  width: 100%;
  cursor: pointer;
  border: none;
  border-top: 1px solid #aaa;
}

.button-group .button.is-checked {
  background: #1c2858;
  color: #fff;
}

/* ---- isotope ---- */

.grid {
  margin-bottom: 50px;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 48%;
  margin-left: 2%;
  height: 220px;
  margin-bottom: 15px;
  padding: 10px;
  color: #262524;
  -webkit-box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

p.item-desc {
  min-height: 48px;
}

.element-item h2 {
  color: #1c2858;
  font-weight: 700;
}

.button-group h2 {
  color: #1c2858;
  font-weight: 700;
}

.button-group h3 {
  color: #5c6395;
  font-weight: 700;
  font-size: 20px;
}

.container {
  min-width: 360px;
}
