body {
  padding-top: 100px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a.navbar-brand img {
  max-height: 40px;
  width: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  z-index: 999;
  background: #fff;
  transition: 0.5s ease;
}

.navbar.scrollUp {
  transform: translateY(-80px);
}

.carousel {
  background: #fff;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.carousel-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 400px;
  font-size: 80px;
  color: white;
}

.dealsGrid {
  margin-top: 100px;
}

.dealsGrid .card {
  padding: 15px;
  height: 100%;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.dealsGrid .row:nth-child(1) {
  margin-bottom: 30px;
}

.p-block {
  background: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
}

.parallax {
  background-image: url("trago-image-1.jpg");
  background-position: center;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.parallax h2 {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 3em;
  margin: 0;
  font-weight: bold;
}

.parallax:after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.services {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.services .card {
  padding: 15px;
  margin-bottom: 30px;
  overflow: hidden;
}

.services .card .overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0.69);
}

.services .card:hover .overlay {
  bottom: 0;
}

footer {
  background: #5c6395;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
}

footer ul {
  columns: 2;
}

footer ul li {
  color: #fff;
}

footer p {
  margin: 0;
}

.prodList .card {
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 30px;
}

.filters p {
  margin: 0;
}

.item.card p {
  margin: 0;
}

#accordionExample .card {
  padding: 0;
  margin-top: 15px;
}

.example {
  background: lavenderblush;
  border: 1px solid #000;
  min-height: 600px;
}
